<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamhub.utd.hub">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnPairedActivity"
            android:label="Bluetooth Devices"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="User Dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="Add New User"
            android:theme="@style/AppTheme" />


        <activity android:name=".DeviceDetailActivity"
            android:label="Device Details"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".AdminActivity"
            android:label="Admin Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditUserActivity"></activity>
    </application>

</manifest>